@import "@/styles/main.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-custom: 255 0 0;
  }
  button {
    @apply text-rose-800;
  }
}

@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  .svg-icon {
    @apply fill-rose-500;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }

  .filter-none {
    filter: none;
  }
}